* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    font-size: 62.5%; /* http://snook.ca/archives/html_and_css/font-size-with-rem */
    color: #111;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

    /* sticky footer */
    position: relative;
    min-height: 100%;
}

body {
    /* Default font-size */
    font-size: 1.6rem;

    /* sticky footer - match footer height */
    margin-bottom: 60px;
}


header {
    text-align: center;
    margin-top: 20px;
}

section#main {
    max-width: 600px;
    width: 100%;
    margin: auto;
    padding-bottom: 20px;
    text-align: center;
}

/*-------------------------
Nav Bar
 --------------------------*/

nav {
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 20px;
}


nav ul li {
    display: inline-block;
    padding: 10px;
}

nav ul li {
    font-weight: bold;
    text-transform: uppercase;
}

nav ul li a:link {
    text-decoration: none;
}




/*----------------------------------------------------
Forms
-----------------------------------------------------*/
label, legend {
    display: block;
    margin-top: 20px;
    margin-bottom: 0;
    text-align: left;
    font-size: 1.2rem;
    letter-spacing: .75px;
    font-weight: bold;
    text-transform: uppercase;
}

input[type=text], input[type=email], input[type=password], textarea, select {
    display: block;
    width: 100%;
    font-size: 1.5rem;
    padding: 3px;
    font-family: Consolas, Courier, monospace;
}

input[type='checkbox'], input[type='radio'] {
    display: inline;
}

input[type='checkbox'] + label {
    display: inline;

}

ul.checkboxes {
    list-style-type: none;
    padding: 0;
}

ul.checkboxes label {
    font-weight: normal;
    margin: 0;
}

.btn {
    margin-top: 20px;
    font-size: 1.5rem;
}

ul {
    list-style-type:none;
}

.error {
    list-style-type: none;
    color: #a94442; /* reddish */
    text-align: left;
    margin: 0;
    padding: 0;
    font-size: 12px;
    font-style: italic;
}

.alert {
    background-color: yellow;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    padding: 5px;
    font-weight: bold;
    text-align: center;
}

ul.alert {
    list-style-type: none;
}

.success {
    color: #3c763d; /* greenish */
}

.details {
    font-size: 1.1rem;
    font-style: italic;
}

.session {
    padding: 10px;
    width: 100%;
    margin-bottom: 20px;
    text-align: left;
    border: 1px solid #eee;
}


